[submodule "/home/public/modules/bio-box"]
	path = /home/public/modules/bio-box
	url = git@github.com:toastwaffle/bio-box.git
[submodule "/home/public/modules/chyrproll"]
	path = /home/public/modules/chyrproll
	url = git@github.com:toastwaffle/chyrproll.git
[submodule "/home/public/modules/recent-links"]
	path = /home/public/modules/recent-links
	url = git@github.com:toastwaffle/recent-links.git
