[submodule "modules/bio-box"]
	path = modules/bio-box
	url = git@github.com:toastwaffle/bio-box.git
[submodule "modules/chyrproll"]
	path = modules/chyrproll
	url = git@github.com:toastwaffle/chyrproll.git
[submodule "modules/recent-links"]
	path = modules/recent-links
	url = git@github.com:toastwaffle/recent-links.git
[submodule "modules"]
	path = modules
	url = git://github.com/chyrp/modules.git
