{% extends "layouts/homepage.twig" %}

{% block content %}
                <div class="page">
                    <h1>Home</h1>
                    <p>Welcome to Toastwaffle, the home of Samuel Littley. I&#8217;m a teenage student from the North of 
England, currently studying Computer Science at Oxford University. This site is dedicated to me and my projects.</p>

<p>You can explore using the links above and to the right, hopefully you&#8217;ll find everything you need to know. If not, feel 
free to contact me, and I&#8217;ll get back to you as soon as possible.</p>

<p>This site is now hosted on BigV, yeyy!!!</p>
                </div>
{% endblock %}
