      <!--
      body { background: #ffff99; margin: 0; }
      #header {
        background: #663300;
	position: relative;
        width: 100%;
        z-index: 1;
        color: #ffff99;
      }
      #canvas {
        background: 0;
        position: absolute;
        left: 0px;
        width: 100%;
        height: 50px;
        z-index: 2;
      }
      #bod {
        background: 0;
	position: relative;
        width: 100%;
        z-index: 3;
        color: #663300;
      }
      #leftcol {
        background: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 150px;
        z-index: 4;
        color: #663300;
      }
      #content {
        background: 0;
        position: absolute;
        top: 0px;
        left: 150px;
        z-index: 4;
        color: #663300;
      }
      #footer {
        clear: left;
        background: 0;
        width: 100%;
        height: 100px;
        z-index: 5;
        color: #663300;
      }
      p,h1,h2,h3,h4,h5,h6,li {
        font-family: Helvetica, Verdana, sans-serif;
      }
      h1 {
	margin-top: 0;
	margin-bottom: 0.67em;
      }
      img { 
        float: left;
        padding-right:20px;
      }
      a:link { color: #996600; }
      a:visited { color: #996600; }
      a:hover { color: #330000; }
      a:active { color: #cc6600; }
      table { border-collapse:collapse; }
      th {
        font-family: Verdana, Helvetica, sans-serif;
        color: #330000;
        text-align: center;
        border: 0;
        border-bottom: 1px solid #330000;
        padding: 5px;
      }
      td {
        font-family: Verdana, Helvetica, sans-serif;
        color: #663300;
        text-align: left;
        border-top: 0;
        border-left: 1px solid #cc6600;
        border-right: 1px solid #cc6600;
        border-bottom: 2px solid #996600;
        padding: 5px;
      }
      hr {
	border: 0;
	width: 80%;
	color: #663300;
	background-color: #663300;
	height: 3px;
     }
      #logo { float:left; }
      #text { padding-bottom: 25px;)
      -->
